.ERAchoice {
	position: absolute;
	top: 0px;
	height: 50vh;
	width: 100%;
	box-sizing: border-box;
    padding: 1%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	pointer-events: none;
}

.ERAfaction {
	position: relative;
	width: 100px;
}

.ERAstarPeople {
	position: relative;
	pointer-events: all;
	transition: all 0.25s;
}

.mobile_version .ERAfaction>.ERAstarPeople:focus {
	position: fixed;
	top:0px;
	left:0px;
	width: calc(100vw - (100vw - 100%));
	z-index: 5000;
}
.desktop_version .ERAfaction>.ERAstarPeople:focus {
	transform: scale(5.0);
	transform-origin:right top;
	transition: all 0.25s;
	z-index: 500;
}

.ERAchoice .ERAstarPeople:focus {
    filter:brightness(2.0);
	transition: all 0.25s;
}

.ERAstarPeople img{
	border-radius: 10px;
	border: 5px solid transparent;
	box-sizing: border-box;
}
