.ERAship {
	background: url('../img/ships.png');
	transition: all 0.25s;
	z-index: 200;
}

.ERAship:hover {
    filter:brightness(1.5);
	transition: all 0.25s;
}

.ERAship.ERAselected {
    filter:brightness(4.0);
	transition: all 0.25s;
}

.ERAship:not(.ERAselectable) {
    filter:brightness(0.5);
	transition: all 0.25s;
}

.ERAship {
	width: 318px;
	height: 225px;
	clip-path: path('M 267.00,17.00 C 267.23,14.44 267.43,12.38 268.57,10.00 272.57,1.67 282.67,-1.76 291.00,1.97 295.11,3.81 296.62,6.10 300.00,8.16 300.00,8.16 307.39,11.81 307.39,11.81 315.60,18.67 312.89,28.58 313.66,33.00 314.39,37.15 317.74,39.46 317.94,46.00 318.20,54.23 312.96,60.93 305.00,62.94 301.93,63.72 300.84,63.33 298.04,63.53 292.80,63.90 293.28,67.85 288.90,71.61 285.01,74.95 281.22,74.94 278.39,77.51 276.26,79.43 273.72,84.13 273.44,87.00 273.08,90.66 275.31,93.55 271.69,97.70 271.69,97.70 256.00,110.21 256.00,110.21 256.00,110.21 223.00,136.00 223.00,136.00 219.21,139.01 206.85,149.56 203.00,150.40 198.19,151.45 183.34,144.55 178.00,143.00 178.38,147.24 177.07,154.66 172.79,156.78 170.49,157.91 169.52,156.54 165.00,159.44 165.00,159.44 146.09,173.37 146.09,173.37 141.30,177.50 143.63,179.30 141.40,186.00 139.86,190.66 136.82,194.58 133.00,197.61 125.75,203.36 122.16,200.98 118.00,203.02 114.63,204.67 111.75,208.76 106.00,210.87 101.01,212.70 97.66,211.43 94.00,212.56 90.75,213.56 87.86,216.35 84.00,216.46 79.36,216.59 74.74,212.13 70.00,211.63 67.20,211.22 64.78,212.38 60.00,211.63 50.63,210.36 43.44,204.16 40.93,195.00 38.63,186.62 41.11,184.36 42.89,177.00 42.89,177.00 43.94,170.00 43.94,170.00 45.47,164.47 49.86,156.32 52.37,151.00 54.70,146.07 55.28,142.41 59.21,138.04 64.81,131.81 69.00,132.67 72.63,129.49 76.73,125.89 81.06,115.08 96.00,116.10 99.09,116.31 102.16,117.68 105.00,117.00 107.44,116.42 111.74,113.47 114.00,112.05 114.00,112.05 129.00,102.68 129.00,102.68 130.89,101.51 135.08,99.31 136.23,97.61 137.31,95.99 137.03,94.78 137.00,93.00 142.28,92.06 144.23,93.95 149.09,96.00 148.88,93.24 148.23,89.54 149.09,87.01 150.92,82.32 160.80,75.54 165.00,72.37 165.00,72.37 182.96,60.54 182.96,60.54 182.96,60.54 190.09,54.98 190.09,54.98 190.09,54.98 198.00,51.01 198.00,51.01 198.00,51.01 218.00,38.17 218.00,38.17 224.80,34.87 224.81,40.47 233.01,35.56 233.01,35.56 243.79,28.47 243.79,28.47 249.45,23.39 251.53,13.24 267.00,17.00 Z');
}

.ERAship-FF3333 {
	background-position-x: -0px;
}
.ERAship-00CC00 {
	background-position-x: -318px;
}
.ERAship-6666FF {
	background-position-x: -636px;
}
.ERAship-FF9900 {
	background-position-x: -954px;
}
.ERAship-CD1FCD {
	background-position-x: -1272px;
}
.ERAship-FFFF00 {
	background-position-x: -1590px;
}
