@import "modules/counters.css";

html {
    background-image:url('img/orion.jpg');
}

div,img {
	user-select: none;
}
#topbar, #page-title, .whiteblock, .roundedbox, .pageheader, .pagesection, .pagesection h2 {
    background-image:none;
    background-color:rgba(255, 255, 255, 0.75);
}
.player-board {
    background-color:rgba(0, 0, 0, 0.5);
    color:white !important;
}

.log_replayable .roundedbox {
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
}

/* <editor-fold defaultstate="collapsed" desc="Logs"> */
.ERA-phase {
	display: block;
	padding: 5px;
	border-radius: 5px;
    background-color: #fcb062;
    font-size: 16px;
    font-weight: bold;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Gray Pawn"> */
.ERApawn {
	position: absolute;
	left: 40px;
	top: 128px;
	background: url('img/pawn.png');
	width: 45px;
	height: 89px;
	transition: left 1s;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Domination cards"> */
.ERAdominationCards {
	flex: 1 1 25%;
	display: flex;
	flex-direction: row;
}
.ERAdominationCard {
	transform-origin: top;
	transition: transform 0.25s;
}
.ERAdominationCard:not([domination='back']):focus {
    transform: scale(2.0);
	transition: transform 0.25s;
	z-index: 500;
}
.ERAdominationCard img{
	width: 100%;
	border-radius: 15px;
	border: 5px solid transparent;
	box-sizing: border-box;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Emergency Reserve Tiles"> */
.ERAemergencyReserve {
	flex: 1 1 20%;
	background-size: contain;
	background-repeat: no-repeat;
	transform-origin: top;
	transition: transform 0.25s;
}
.ERAemergencyReserve:focus {
    transform: scale(4.0);
	transition: transform 0.25s;
	z-index: 500;
}
.ERAemergencyReserve-FF3333 {
	background-image: url('img/emergencyReserve/FF3333.jpg');
}
.ERAemergencyReserve-00CC00 {
	background-image: url('img/emergencyReserve/00CC00.jpg');
}
.ERAemergencyReserve-6666FF {
	background-image: url('img/emergencyReserve/6666FF.jpg');
}
.ERAemergencyReserve-FF9900 {
	background-image: url('img/emergencyReserve/FF9900.jpg');
}
.ERAemergencyReserve-CD1FCD {
	background-image: url('img/emergencyReserve/CD1FCD.jpg');
}
.ERAemergencyReserve-FFFF00 {
	background-image: url('img/emergencyReserve/FFFF00.jpg');
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Play Area"> */
#ERAplayArea {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background-image:url('img/background.jpg');
	border-radius: 15px;
}
#ERAboard {
    transform-origin: top left;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="DP Track"> */
#ERA-DP {
	position: relative;
	width: 804px;
	height: 561px;
	background-image: url('img/DP.jpg');
}
#ERAgalacticStory {
	position:absolute;
	left:62px;
	top:240px;
	transition: filter 0.25s;
}
#ERAgalacticStory:hover {
    filter:brightness(2.0);
	transition: filter 0.25s;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Population Track"> */
.ERApopulationTrack {
	flex: 0 0 auto;
	position:relative;
	width: 714px;
	height: 314px;
}
.ERApanel-FF3333 .ERApopulationTrack {
	background-image: url('img/populationTracks/FF3333.png');
}
.ERApanel-00CC00 .ERApopulationTrack {
	background-image: url('img/populationTracks/00CC00.png');
}
.ERApanel-6666FF .ERApopulationTrack {
	background-image: url('img/populationTracks/6666FF.png');
}
.ERApanel-FF9900 .ERApopulationTrack {
	background-image: url('img/populationTracks/FF9900.png');
}
.ERApanel-CD1FCD .ERApopulationTrack {
	background-image: url('img/populationTracks/CD1FCD.png');
}
.ERApanel-FFFF00 .ERApopulationTrack {
	background-image: url('img/populationTracks/FFFF00.png');
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Technology Track"> */
.ERAtechTrack {
	flex: 0 0 auto;
	position:relative;
	width: 877px;
	height: 532px;
}
.ERApanel-FF3333 .ERAtechTrack {
	background-image: url('img/techTracks/FF3333.png');
}
.ERApanel-00CC00 .ERAtechTrack {
	background-image: url('img/techTracks/00CC00.png');
}
.ERApanel-6666FF .ERAtechTrack {
	background-image: url('img/techTracks/6666FF.png');
}
.ERApanel-FF9900 .ERAtechTrack {
	background-image: url('img/techTracks/FF9900.png');
}
.ERApanel-CD1FCD .ERAtechTrack {
	background-image: url('img/techTracks/CD1FCD.png');
}
.ERApanel-FFFF00 .ERAtechTrack {
	background-image: url('img/techTracks/FFFF00.png');
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Sectors"> */
.ERAsector {
	position: absolute;
	width: 741px;
	height: 824px;
}
.ERAsector[sector='0'] {
	background-image: url('img/sectors/00.png');
}
.ERAsector[sector='1'] {
	background-image: url('img/sectors/01.png');
}
.ERAsector[sector='2'] {
	background-image: url('img/sectors/02.png');
}
.ERAsector[sector='3'] {
	background-image: url('img/sectors/03.png');
}
.ERAsector[sector='4'] {
	background-image: url('img/sectors/04.png');
}
.ERAsector[sector='5'] {
	background-image: url('img/sectors/05.png');
}
.ERAsector[sector='6'] {
	background-image: url('img/sectors/06.png');
}
.ERAsector[sector='7'] {
	background-image: url('img/sectors/07.png');
}
.ERAsector[sector='8'] {
	background-image: url('img/sectors/08.png');
}
.ERAsector[sector='9'] {
	background-image: url('img/sectors/09.png');
}
.ERAsector[sector='10'] {
	background-image: url('img/sectors/10.png');
}
.ERAsector[sector='11'] {
	background-image: url('img/sectors/11.png');
}
.ERAsector[sector='12'] {
	background-image: url('img/sectors/12.png');
}
.ERAsector[sector='13'] {
	background-image: url('img/sectors/13.png');
}
.ERAsector[sector='14'] {
	background-image: url('img/sectors/14.png');
}
.ERAsector[sector='15'] {
	background-image: url('img/sectors/15.png');
}
.ERAsector[sector='16'] {
	background-image: url('img/sectors/16.png');
}
.ERAsector[sector='17'] {
	background-image: url('img/sectors/17.png');
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Ships"> */
.ERAship {
	background: url('img/3D.png');
	transition: all 0.25s;
	width: 250px;
	height: 250px;
	z-index: 200;
	clip-path: path('M 85.00,130.00 C 85.90,121.57 90.92,119.10 97.00,113.87 97.00,113.87 129.00,87.20 129.00,87.20 136.09,81.48 144.56,77.52 150.86,70.83 155.60,65.80 153.48,61.46 160.04,56.65 164.42,53.44 168.94,53.82 171.63,52.02 174.85,49.86 176.64,43.83 185.00,42.33 190.56,41.33 205.17,45.03 209.96,47.93 212.34,49.38 215.12,52.58 216.49,55.00 218.98,59.41 217.17,61.63 218.92,66.00 220.46,69.85 222.45,70.85 222.89,76.00 224.20,91.18 208.40,91.59 206.10,92.58 202.81,94.01 202.06,96.97 198.90,99.30 196.40,101.14 193.74,101.40 191.63,103.51 184.99,110.15 190.89,115.67 187.40,120.91 187.40,120.91 178.00,130.00 178.00,130.00 178.00,130.00 151.00,154.99 151.00,154.99 148.24,157.68 138.07,167.38 135.00,168.11 132.27,168.76 120.06,166.01 117.00,165.00 116.59,167.62 116.04,171.41 114.16,173.42 112.26,175.45 105.48,176.38 100.48,184.00 97.18,189.03 101.54,197.53 91.96,204.03 86.90,207.47 81.64,207.42 79.18,208.56 75.99,210.04 75.23,212.93 70.96,215.47 68.72,216.80 57.41,220.42 55.00,220.27 55.00,220.27 45.00,217.51 45.00,217.51 45.00,217.51 38.00,217.51 38.00,217.51 27.95,215.83 23.12,209.95 23.06,200.00 23.06,200.00 23.06,187.00 23.06,187.00 22.46,182.15 18.77,177.35 23.70,170.00 29.32,161.62 35.85,162.93 39.82,160.69 43.25,158.75 43.88,155.52 49.01,152.53 53.86,149.71 56.66,150.58 60.00,149.02 62.73,147.74 72.65,139.28 74.86,136.91 79.51,131.90 77.48,129.25 85.00,130.00 Z');
}
.ERAship:hover {
    filter:brightness(2.0);
	transition: all 0.25s;
}
.ERAship.ERAselected {
    filter:brightness(4.0);
	transition: all 0.25s;
}
.ERAship:not(.ERAselectable) {
    filter:brightness(1.0);
	transition: all 0.25s;
}
.ERAship-FF3333 {
	background-position-x: -3000px;
}
.ERAship-00CC00 {
	background-position-x: -3250px;
}
.ERAship-6666FF {
	background-position-x: -3500px;
}
.ERAship-FF9900 {
	background-position-x: -3750px;
}
.ERAship-CD1FCD {
	background-position-x: -4000px;
}
.ERAship-FFFF00 {
	background-position-x: -4250px;
}
.ERAhomeStar {
	background: url('img/3D.png');
	width: 250px;
	height: 250px;
	transition: all 0.25s;
    filter:brightness(75%);
}
.ERAhomeStar.ERAselected {
    filter:brightness(4.0);
	transition: filter .25s, transform .25s;
}
.ERAhomeStar-FF3333 {
	background-position-x: -0px;
}
.ERAhomeStar-00CC00 {
	background-position-x: -250px;
}
.ERAhomeStar-6666FF {
	background-position-x: -500px;
}
.ERAhomeStar-FF9900 {
	background-position-x: -750px;
}
.ERAhomeStar-CD1FCD {
	background-position-x: -1000px;
}
.ERAhomeStar-FFFF00 {
	background-position-x: -1250px;
}
/* </editor-fold> */

.ERAhide {
	visibility: hidden;
}

#ERApanels {
	display: flex;
	justify-content: center;
}
.ERAplayerAid
{
	flex: 0 0 auto;
	align-self: flex-end;
	margin: 20px;
	background: url('img/playerAids/0.jpg');
	background-size: contain;
	width: 400px;
	height: 400px;
    border-radius: 10px;
}

.ERAchoice {
	position: absolute;
	top: 0px;
	height: 50vh;
	width: 100%;
	box-sizing: border-box;
    padding: 1%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	pointer-events: none;
}
.ERAfaction {
	position: relative;
	width: 100px;
}
.ERAstarPeople {
	position: relative;
	pointer-events: all;
	transition: all 0.25s;
}
.mobile_version .ERAfaction>.ERAstarPeople:focus {
	position: fixed;
	top:0px;
	left:0px;
	width: calc(100vw - (100vw - 100%));
	z-index: 5000;
}
.desktop_version .ERAfaction>.ERAstarPeople:focus {
	transform: scale(5.0);
	transform-origin:right top;
	transition: all 0.25s;
	z-index: 500;
}
.ERAchoice .ERAstarPeople:focus {
    filter:brightness(2.0);
	transition: all 0.25s;
}
.ERAstarPeople img{
	border-radius: 10px;
	border: 5px solid transparent;
	box-sizing: border-box;
}
