/* Simulate title property on mobile */
@media (pointer: coarse), (hover: none) {
	[title] {
        position: relative;
        display: inline-flex;
        justify-content: center;
	}
	[title]:focus::after {
        content: attr(title);
        position: absolute;
        top: 90%;
        color: #000;
        background-color: #fff;
        border: 1px solid;
        width: fit-content;
        padding: 3px;
	}
}

@font-face {
    font-family: 'ERA';
    src: url('img/fonts/Xolonium-Regular.otf') format('opentype');
	size-adjust: 100%;
    ascent-override: 100%;
}

::-webkit-scrollbar {
    background: #ffffff00;
	display: none;
}
::-webkit-scrollbar-thumb {
	background: #80808080;
	border-radius: 10px;
}
::-webkit-scrollbar-corner {
    background: #ffffff00;
}

.ERAcontrols {
	padding: 5px 0px 5px 0px;
	font-size: 20px;
}
.mobile_version .ERAcontrols {
	padding: 15px 0px 5px 0px;
	font-size: 30px;
}
.ERAview {
    display: inline-block;
    background-image: url('img/hide.svg');
    width: 25px;
    height: 25px;
    background-size: contain;
    vertical-align: middle;
}
.ERAicon {
	vertical-align: middle;
	padding: 0px 10px;
	font-size: x-large;
}
.mobile_version .ERAicon {
	padding: 0px 25px;
	font-size: xx-large;
}

html,body {
    background-image: url("img/orion.jpg") !important;
}
div,img {
	user-select: none;
}
#topbar, #page-title, .whiteblock, .roundedbox, .pageheader, .pagesection, .pagesection h2 {
    background-image:none;
    background-color:rgba(255, 255, 255, 75%);
}
#maintitlebar_content {
	font-family: 'ERA';
}
.GODMODE {
	background-color: red !important;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px) !important;
}
.player-board {
    background-color:rgba(0, 0, 0, 50%);
    color:white !important;
}
.dijitTooltipContainer,.standard_popin {
    background:rgba(50, 50, 50, 90%) !important;
    color:white !important;
}
.log_replayable .roundedbox {
    background-color:rgba(0, 0, 0, 50%);
    color:white;
}
#page-content {
	/*	zoom: 1 !important;*/
}
.midSizeDialog {
	max-width: fit-content;
}
#game_play_area {
	will-change: transform;
}
.ERAbutton {
	opacity: 50%;
}
.ERAbutton.ERAselected {
	opacity: 100%;
}
.ERAdice {
    display:inline-block;
    vertical-align:middle;
    width:30px;
    height:30px;
    background-image:url('img/dices.png');
}
.ERAhide {
	visibility: hidden;
}
.ERAdisabled {
	pointer-events: none !important;
	filter: grayscale(1) !important;
}
#ERAoffboard {
	position: relative;
	padding: 10px;
	box-sizing: border-box;
	transition: transform CALC(var(--DELAY) * 0.5ms);
}
#ERAoffboard.ERAfocus {
	z-index: 1000;
}
#ERAfleets {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 2%;
	background-color: #000000A0;
	display: flex;
	justify-content: space-evenly;
	z-index: 500;
	pointer-events: none;
}
.ERAfleetAction {
	color: white;
}

/* <editor-fold defaultstate="collapsed" desc="Logs"> */
.ERA-phase {
	font-family: 'ERA';
	display: block;
	padding: 5px;
	border-radius: 5px;
    background-color: #fcb062;
	color: black;
    font-size: 12pt;
    font-weight: bold;
}
.ERA-subphase {
	font-family: 'ERA';
    display: block;
    padding: 5px;
    border-radius: 5px;
    background-color: #8E6031;
	color: black;
    font-size: 10pt;
    font-weight: bold;
}
.ERA-info {
	font-family: 'ERA';
    display: block;
    padding: 5px;
    border-radius: 5px;
    background-color: #8E6031;
	color: white;
    font-size: 10pt;
    font-weight: bold;
}
.ERA-removeViewing {
    display: block;
    padding: 5px;
    border-radius: 5px;
	color: white;
    font-size: 10pt;
    font-weight: bold;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Gray Pawn"> */
.ERApawn {
	position: absolute;
	left: 40px;
	top: 128px;
	background: url('img/pawn.png');
	width: 45px;
	height: 89px;
	transition: left CALC(var(--DELAY) * 1ms);
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Domination cards"> */
.ERAdominationCards {
	flex: 1 1 25%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.ERAdominationCard {
	position: relative;
	max-width: 250px;
	transition: transform CALC(var(--DELAY) * 0.5ms);
}
.ERAdominationCard.ERAdominationA {
	box-shadow: 0px 0px 5px 5px red;
}
.ERAdominationCard.ERAdominationEffect:before {
	position: absolute;
	background-image: url('img/effect.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	content: '';
	opacity: 75%
}
.ERAdominationEffectRemind {
	background-image: url('img/effect.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 20px;
	height: 30px;
}
.ERAdominationCard-A {
	position: absolute;
	top: 11px;
	left: -149px;
	width: 176px;
}
.ERAdominationCard-B {
	position: absolute;
	top: 275px;
	left: -149px;
	width: 176px;
}
.ERAstatus .ERAdominationCard {
	max-width: 50px;
}
.ERAdominationCard.ERAselected {
	border-radius: 5%;
	box-shadow: 0px 0px 10px 10px red;
}
.ERAdominationCard.ERAfocus {
	border-radius: 15px;
	z-index: 1000;
}
.ERAdominationCard img{
	width: 100%;
	border-radius: 5%;
	border: 1px solid transparent;
	box-sizing: border-box;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Emergency Reserve Tiles"> */
.ERAemergencyReserve {
	flex: 1 1 20%;
	background-size: contain;
	background-repeat: no-repeat;
	transition: transform CALC(var(--DELAY) * 0.5ms);
}
.ERAemergencyReserve.ERAfocus {
	z-index: 1000;
}
.ERAemergencyReserve-FF3333 {
	background-image: url('img/emergencyReserve/FF3333.jpg');
}
.ERAemergencyReserve-00CC00 {
	background-image: url('img/emergencyReserve/00CC00.jpg');
}
.ERAemergencyReserve-6666FF {
	background-image: url('img/emergencyReserve/6666FF.jpg');
}
.ERAemergencyReserve-FF9900 {
	background-image: url('img/emergencyReserve/FF9900.jpg');
}
.ERAemergencyReserve-CD1FCD {
	background-image: url('img/emergencyReserve/CD1FCD.jpg');
}
.ERAemergencyReserve-FFFF00 {
	background-image: url('img/emergencyReserve/FFFF00.jpg');
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Play Area"> */
#ERAplayArea {
	position: relative;
	width: 100%;
	height: 75vh;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	background-image:url('img/background.jpg');
	border-radius: 15px;
}
#ERAboard {
	transform-origin: top left;
}
.ERApanel {
	display: flex;
	flex-direction: column;
	z-index: 500;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="DP Track"> */
#ERApanels
{
	display: flex;
	flex-direction: column;
	/*	align-items: center;*/
}
#ERA-DP {
	position: relative;
	width: 804px;
	height: 561px;
	background-image: url('img/DP.jpg');
	border-radius: 10px;
}
#ERAgalacticStory {
	position:absolute;
	left:62px;
	top:240px;
	transition: filter 0.25s;
}
#ERAgalacticStory:hover {
	box-shadow: 0px 0px 10px 5px white;
	transition: filter 0.25s;
}
#ERAgalacticGoal {
	position:absolute; /* 220x144 */
	left:292px;
	top:345px;
	width:220px;
	height:144px;
	border-radius: 7px;
	transition: filter 0.25s;
}
#ERAgalacticGoal:hover {
	box-shadow: 0px 0px 10px 5px white;
	transition: filter 0.25s;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Population Track"> */
.ERApopulationTrack {
	flex: 0 0 auto;
	position:relative;
	width: 714px;
	height: 314px;
	background-size: 100%;
}
.ERApopulationTrack .ERAcounter-populationDisc {
	opacity: 100%;
}
.ERApopulationTrack:hover .ERAcounter-populationDisc {
	opacity: 50%;
}
.ERApanel-FF3333 .ERApopulationTrack {
	background-image: url('img/populationTracks/FF3333.jpg');
}
.ERApanel-00CC00 .ERApopulationTrack {
	background-image: url('img/populationTracks/00CC00.jpg');
}
.ERApanel-6666FF .ERApopulationTrack {
	background-image: url('img/populationTracks/6666FF.jpg');
}
.ERApanel-FF9900 .ERApopulationTrack {
	background-image: url('img/populationTracks/FF9900.jpg');
}
.ERApanel-CD1FCD .ERApopulationTrack {
	background-image: url('img/populationTracks/CD1FCD.jpg');
}
.ERApanel-FFFF00 .ERApopulationTrack {
	background-image: url('img/populationTracks/FFFF00.jpg');
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Technology Track"> */
.ERAtechTrack {
	flex: 0 0 auto;
	position:relative;
	width: 877px;
	height: 532px;
	background-size: 100%;
}
.ERAtechTrack .ERAcounter-cube {
	opacity: 100%;
}
.ERAtechTrack:hover .ERAcounter-cube {
	opacity: 50%;
}
.ERApanel-FF3333 .ERAtechTrack {
	background-image: url('img/techTracks/FF3333.jpg');
}
.ERApanel-00CC00 .ERAtechTrack {
	background-image: url('img/techTracks/00CC00.jpg');
}
.ERApanel-6666FF .ERAtechTrack {
	background-image: url('img/techTracks/6666FF.jpg');
}
.ERApanel-FF9900 .ERAtechTrack {
	background-image: url('img/techTracks/FF9900.jpg');
}
.ERApanel-CD1FCD .ERAtechTrack {
	background-image: url('img/techTracks/CD1FCD.jpg');
}
.ERApanel-FFFF00 .ERAtechTrack {
	background-image: url('img/techTracks/FFFF00.jpg');
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Player aids"> */
.ERAplayerAid
{
	align-self: center;
	margin: 20px;
	background: url('img/playerAids/0.jpg');
	background-size: contain;
	width: 50%;
	aspect-ratio: 1/1;
	border-radius: 10px;
	transition: transform CALC(var(--DELAY) * 0.5ms);
}
.ERAplayerAid.ERAfocus {
	z-index: 1000;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Sectors"> */
.ERAsector {
	position: absolute;
	width: 741px;
	height: 824px;
}
.ERAsector[sector='0'] {
	background-image: url('img/sectors/00.png');
}
.ERAsector[sector='1'] {
	background-image: url('img/sectors/01.png');
}
.ERAsector[sector='2'] {
	background-image: url('img/sectors/02.png');
}
.ERAsector[sector='3'] {
	background-image: url('img/sectors/03.png');
}
.ERAsector[sector='4'] {
	background-image: url('img/sectors/04.png');
}
.ERAsector[sector='5'] {
	background-image: url('img/sectors/05.png');
}
.ERAsector[sector='6'] {
	background-image: url('img/sectors/06.png');
}
.ERAsector[sector='7'] {
	background-image: url('img/sectors/07.png');
}
.ERAsector[sector='8'] {
	background-image: url('img/sectors/08.png');
}
.ERAsector[sector='9'] {
	background-image: url('img/sectors/09.png');
}
.ERAsector[sector='10'] {
	background-image: url('img/sectors/10.png');
}
.ERAsector[sector='11'] {
	background-image: url('img/sectors/11.png');
}
.ERAsector[sector='12'] {
	background-image: url('img/sectors/12.png');
}
.ERAsector[sector='13'] {
	background-image: url('img/sectors/13.png');
}
.ERAsector[sector='14'] {
	background-image: url('img/sectors/14.png');
}
.ERAsector[sector='15'] {
	background-image: url('img/sectors/15.png');
}
.ERAsector[sector='16'] {
	background-image: url('img/sectors/16.png');
}
.ERAsector[sector='17'] {
	background-image: url('img/sectors/17.png');
}
/* </editor-fold> */

.ERAchoice {
	position: absolute;
	top: 0px;
	height: fit-content;
	width: 100%;
	box-sizing: border-box;
	padding: 1%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	pointer-events: none;
	z-index: 500;
}
.ERAfaction {
	display: flex;
	justify-content: space-evenly;
}
.ERAstatus {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.ERAtechnologies {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	font-size: xx-small;
}
.ERAsmallTechnology{
	display: inline-block;
	width: calc(74px / 2);
	height: calc(74px / 2);
	transform: scale(50%);
	transform-origin: left top;
	vertical-align: middle;
}
.ERAsmallerTechnology{
	position: relative;
	display: inline-block;
	width: calc(74px / 5);
	height: calc(74px / 5);
	transform: scale(20%);
	transform-origin: left top;
	vertical-align: middle;
}
.ERAsmallerTechnology:hover {
	z-index:500;
}
.ERAtechnology {
	vertical-align: middle;
}
.ERApopulation {
	vertical-align: middle;
}
.circleBlack {
	border:white solid 1px;
	border-radius:50%;
	background:white;
	display: inline-block;
	width:14px;
	height:14px;
	text-align:center;
	box-sizing:border-box;
	vertical-align:middle;
	margin:1px;
}
.circleWhite {
	border:white solid 1px;
	display: inline-block;
	border-radius:50%;
	background:black;
	width:14px;
	height:14px;
	text-align:center;
	box-sizing:border-box;
	vertical-align:middle;
	margin:1px;
}
.ERAstarPeople {
	pointer-events: all;
	transition: transform CALC(var(--DELAY) * 0.5ms);
}
.ERAstarPeople.ERAfocus {
	z-index: 1000;
}
.ERAstarPeople img{
	width: 100%;
	border-radius: 10px;
	border: 5px solid transparent;
	box-sizing: border-box;
}

@keyframes flip {
	from {
		transform: rotate3d(1,2,0,0deg) rotate(calc(-1 * var(--ROTATE))) ;
	}
	to {
		transform: rotate3d(1,2,0,90deg) rotate(calc(-1 * var(--ROTATE))) ;
	}
}
@keyframes unflip {
	from {
		transform: rotate3d(1,2,0,90deg) rotate(calc(-1 * var(--ROTATE))) ;
	}
	to {
		transform: rotate3d(1,2,0,0deg) rotate(calc(-1 * var(--ROTATE))) ;
	}
}

.ERAhideShips .ERAship, .ERAhideCounters .ERAhomeStar, .ERAhideCounters .ERAcounter {
	visibility: hidden;
}

.ERAcounter {
	position: relative;
	background: url('img/counters.png');
	transition: filter .25s, box-shadow .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
	z-index: 100;
	/*	pointer-events: none;*/
}
.ERAcounter.ERAselectable {
	pointer-events: all;
	box-shadow: 0px 0px 10px 5px slategrey;
	transition: filter .25s, box-shadow .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAcounter.ERAselected {
	box-shadow: 0px 0px 10px 5px white;
	filter: brightness(150%);
	transition: filter .25s, box-shadow .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAcounter:not(.ERAcounter-cube):not(.ERAorder):hover {
	box-shadow: 0px 0px 5px 10px white;
	z-index: 500;
	transition: filter .25s, box-shadow .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}

/* <editor-fold defaultstate="collapsed" desc="Cylinders (6)"> */
.ERAcounter-cylinder {
	width: 72px;
	height: 72px;
}
.ERAcounter-cylinder.ERAcounter-FF3333 {
	background-position-x: -8916px;
}
.ERAcounter-cylinder.ERAcounter-00CC00 {
	background-position-x: -8988px;
}
.ERAcounter-cylinder.ERAcounter-6666FF {
	background-position-x: -9060px;
}
.ERAcounter-cylinder.ERAcounter-FF9900 {
	background-position-x: -9132px;
}
.ERAcounter-cylinder.ERAcounter-CD1FCD {
	background-position-x: -9204px;
}
.ERAcounter-cylinder.ERAcounter-FFFF00 {
	background-position-x: -9276px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Cubes (6)"> */
.ERAcounter-cube {
	width: 64px;
	height: 64px;
}
.ERAcounter-cube.ERAcounter-FF3333 {
	background-position-x: -8532px;
}
.ERAcounter-cube.ERAcounter-00CC00 {
	background-position-x: -8596px;
}
.ERAcounter-cube.ERAcounter-6666FF {
	background-position-x: -8660px;
}
.ERAcounter-cube.ERAcounter-FF9900 {
	background-position-x: -8724px;
}
.ERAcounter-cube.ERAcounter-CD1FCD {
	background-position-x: -8788px;
}
.ERAcounter-cube.ERAcounter-FFFF00 {
	background-position-x: -8852px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Wormholes (3)"> */
.ERAcounter-wormhole
{
	width: 59px;
	height: 59px;
	border-radius: 50%;
	z-index: -1;
}
.ERAcounter-wormhole.ERAcounter-blue {
	background-position-x: -8355px;
}
.ERAcounter-wormhole.ERAcounter-gold {
	background-position-x: -8414px;
}
.ERAcounter-wormhole.ERAcounter-purple {
	background-position-x: -8473px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Stars (3)"> */
.ERAcounter-star
{
	width: 59px;
	height: 59px;
	border-radius: 50%;
	background-position-x: -7660px;
}
.ERAcounter-star.ERAcounter-UNINHABITED {
	background-position-x: -7778px;
}
.ERAcounter-star.ERAcounter-PRIMITIVE {
	background-position-x: -7719px;
}
.ERAcounter-star.ERAcounter-ADVANCED {
	background-position-x: -7601px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Relics"> */
.ERAcounter-relic
{
	width: 59px;
	height: 59px;
	border-radius: 50%;
	background-position-x: -399px;
}
.ERAcounter-0 {
	background-position-x: -340px;
}
.ERAcounter-6 {
	background-position-x: -458px;
}
.ERAcounter-8 {
	background-position-x: -517px;
}
.ERAcounter-1 {
	background-position-x: -576px;
}
.ERAcounter-2 {
	background-position-x: -635px;
}
.ERAcounter-7 {
	background-position-x: -694px;
}
.ERAcounter-3 {
	background-position-x: -753px;
}
.ERAcounter-4 {
	background-position-x: -812px;
}
.ERAcounter-5 {
	background-position-x: -871px;
}
.ERAcounter-9 {
	background-position-x: -930px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Turn order"> */
.ERAorder
{
	width: 89px;
	height: 89px;
}
.ERAorder[order='?'] {
	display: none;
}
.ERAorder[order='1'] {
	background-position-x: -7067px;
}
.ERAorder[order='2'] {
	background-position-x: -7156px;
}
.ERAorder[order='3'] {
	background-position-x: -7245px;
}
.ERAorder[order='4'] {
	background-position-x: -7334px;
}
.ERAorder[order='5'] {
	background-position-x: -7423px;
}
.ERAorder[order='6'] {
	background-position-x: -7512px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="War/Peace"> */
.ERAcounter-peace, .ERAcounter-war
{
	border-radius: 50%;
	width: 89px;
	height: 89px;
}
.ERAcounter-peace.ERAhide, .ERAcounter-war.ERAhide {
	display:none;
}
.ERAsmall {
	margin: 0px -60px -60px 0px;
	transform: scale(30%);
	transform-origin: left top;
}
.ERAcounter.ERAcounter-peace.ERAcounter-6666FF {
	background-position-x: -989px;
}
.ERAcounter.ERAcounter-peace.ERAcounter-00CC00 {
	background-position-x: -1078px;
}
.ERAcounter.ERAcounter-peace.ERAcounter-CD1FCD {
	background-position-x: -1167px;
}
.ERAcounter.ERAcounter-peace.ERAcounter-FF9900 {
	background-position-x: -1256px;
}
.ERAcounter.ERAcounter-peace.ERAcounter-FF3333 {
	background-position-x: -1345px;
}
.ERAcounter.ERAcounter-peace.ERAcounter-FFFF00 {
	background-position-x: -1434px;
}
.ERAcounter.ERAcounter-war.ERAcounter-6666FF {
	background-position-x: -1523px;
}
.ERAcounter.ERAcounter-war.ERAcounter-00CC00 {
	background-position-x: -1612px;
}
.ERAcounter.ERAcounter-war.ERAcounter-CD1FCD {
	background-position-x: -1701px;
}
.ERAcounter.ERAcounter-war.ERAcounter-FF9900 {
	background-position-x: -1790px;
}
.ERAcounter.ERAcounter-war.ERAcounter-FF3333 {
	background-position-x: -1879px;
}
.ERAcounter.ERAcounter-war.ERAcounter-FFFF00 {
	background-position-x: -1968px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Ships"> */
.ERAship {
	position: absolute;
	background: url('img/3D.png');
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
	width: 250px;
	height: 250px;
	z-index: 200;
	clip-path: path('M 85.00,130.00 C 85.90,121.57 90.92,119.10 97.00,113.87 97.00,113.87 129.00,87.20 129.00,87.20 136.09,81.48 144.56,77.52 150.86,70.83 155.60,65.80 153.48,61.46 160.04,56.65 164.42,53.44 168.94,53.82 171.63,52.02 174.85,49.86 176.64,43.83 185.00,42.33 190.56,41.33 205.17,45.03 209.96,47.93 212.34,49.38 215.12,52.58 216.49,55.00 218.98,59.41 217.17,61.63 218.92,66.00 220.46,69.85 222.45,70.85 222.89,76.00 224.20,91.18 208.40,91.59 206.10,92.58 202.81,94.01 202.06,96.97 198.90,99.30 196.40,101.14 193.74,101.40 191.63,103.51 184.99,110.15 190.89,115.67 187.40,120.91 187.40,120.91 178.00,130.00 178.00,130.00 178.00,130.00 151.00,154.99 151.00,154.99 148.24,157.68 138.07,167.38 135.00,168.11 132.27,168.76 120.06,166.01 117.00,165.00 116.59,167.62 116.04,171.41 114.16,173.42 112.26,175.45 105.48,176.38 100.48,184.00 97.18,189.03 101.54,197.53 91.96,204.03 86.90,207.47 81.64,207.42 79.18,208.56 75.99,210.04 75.23,212.93 70.96,215.47 68.72,216.80 57.41,220.42 55.00,220.27 55.00,220.27 45.00,217.51 45.00,217.51 45.00,217.51 38.00,217.51 38.00,217.51 27.95,215.83 23.12,209.95 23.06,200.00 23.06,200.00 23.06,187.00 23.06,187.00 22.46,182.15 18.77,177.35 23.70,170.00 29.32,161.62 35.85,162.93 39.82,160.69 43.25,158.75 43.88,155.52 49.01,152.53 53.86,149.71 56.66,150.58 60.00,149.02 62.73,147.74 72.65,139.28 74.86,136.91 79.51,131.90 77.48,129.25 85.00,130.00 Z');
	/*	pointer-events: none;*/
}
.ERAstatus .ERAship, .ERAfleets .ERAship {
	position: relative;
}
.ERAfleets .ERAship:not([fleet]) {
	transform-origin: left top;
	transform: scale(20%);
	margin-bottom: -450%;
}
.ERAship.ERAselectable {
	pointer-events: all;
	box-shadow: 0px 0px 10px 5px slategrey;
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAship.ERAselected {
	box-shadow: 0px 0px 10px 5px white;
	filter: brightness(150%);
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAship:hover {
	filter: brightness(200%);
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}

.ERAship-FF3333 {
	background-position-x: -3000px;
}
.ERAextended .ERAship-FF3333 {
	background-position-x: -4500px;
	clip-path: path("M 116.00,62.42 C 132.78,60.38 144.44,67.46 154.00,67.20 165.00,66.90 165.97,76.60 171.07,83.79 173.70,87.49 176.82,87.28 179.59,89.69 182.36,92.11 182.67,95.47 187.01,96.75 192.88,98.48 193.96,92.24 199.04,88.51 204.46,84.52 211.65,86.29 217.00,89.48 225.44,94.51 226.99,100.07 231.10,103.73 234.34,106.61 236.89,106.65 240.98,110.21 248.17,116.47 250.93,126.02 244.61,133.98 236.75,143.89 226.40,142.22 222.00,143.89 217.43,145.62 205.05,158.15 192.02,155.77 185.72,154.63 186.40,149.46 181.90,147.21 178.85,145.38 174.24,146.75 171.00,147.21 168.13,147.97 163.54,148.71 161.09,150.14 157.42,152.27 156.89,155.05 151.00,158.18 141.63,163.16 138.07,162.89 128.00,163.00 115.49,163.15 87.98,171.19 75.00,174.71 75.00,174.71 32.00,183.25 32.00,183.25 26.44,184.22 14.85,187.06 10.00,186.97 2.11,186.82 2.42,181.44 5.97,176.01 9.31,170.91 12.87,170.21 16.47,165.91 16.47,165.91 31.37,144.02 31.37,144.02 36.79,137.02 38.62,138.28 41.44,134.79 43.70,132.01 43.48,128.99 47.21,125.33 51.00,121.61 54.64,121.46 58.52,115.00 62.44,108.45 59.74,104.89 60.04,98.00 60.77,81.39 79.84,70.67 94.00,66.44 102.57,63.87 107.52,63.63 116.00,62.42 Z");
}
.ERAship-00CC00 {
	background-position-x: -3250px;
}
.ERAextended .ERAship-00CC00 {
	background-position-x: -4750px;
	clip-path: path("M 175.00,68.52 C 186.82,66.65 195.41,71.38 206.00,75.00 209.66,76.25 215.75,77.76 218.35,80.56 223.25,85.83 218.25,91.33 225.06,96.30 231.21,100.79 245.65,102.24 247.53,111.00 248.36,114.90 245.88,118.13 242.96,120.37 239.83,122.75 234.64,124.64 231.00,126.31 225.32,128.92 220.56,132.49 214.00,131.89 209.02,131.44 206.93,128.79 203.00,128.52 199.49,128.28 192.47,131.28 189.00,132.58 189.00,132.58 176.10,137.41 176.10,137.41 171.19,140.40 172.08,144.09 167.87,147.30 164.52,149.86 155.74,151.61 152.11,154.51 147.62,158.08 148.16,162.55 142.96,166.57 137.84,170.53 132.72,168.21 129.04,169.16 125.43,170.10 124.27,173.11 120.96,174.83 118.07,176.32 113.27,176.04 110.00,176.00 99.58,175.87 99.10,171.85 89.00,173.30 78.36,174.83 57.38,183.97 35.00,184.00 27.18,184.01 10.63,182.77 5.85,175.81 3.76,172.76 4.01,168.55 4.00,165.00 4.00,165.00 4.00,146.00 4.00,146.00 4.01,142.79 3.82,138.96 5.31,136.04 8.81,129.21 24.22,124.42 31.00,120.65 31.00,120.65 40.00,115.13 40.00,115.13 40.00,115.13 76.00,103.00 76.00,103.00 76.00,103.00 105.00,93.52 105.00,93.52 105.00,93.52 130.00,91.57 130.00,91.57 135.15,90.17 143.16,81.20 148.09,77.99 151.54,75.74 170.19,69.80 175.00,68.52 Z");
}
.ERAship-6666FF {
	background-position-x: -3500px;
}
.ERAextended .ERAship-6666FF {
	background-position-x: -5000px;
	clip-path: path("M 211.00,66.53 C 218.34,65.68 220.81,68.04 227.00,71.02 235.12,74.93 242.99,76.00 246.99,86.00 249.79,92.99 244.41,105.91 238.90,110.45 238.90,110.45 230.18,115.64 230.18,115.64 226.99,118.18 226.09,121.24 221.96,122.99 218.83,124.33 214.41,123.96 211.00,124.00 198.07,124.18 202.82,130.17 196.86,135.61 193.81,138.39 183.37,141.75 179.00,143.31 179.00,143.31 149.00,153.06 149.00,153.06 143.32,155.27 133.93,159.92 128.00,160.64 120.61,161.54 110.56,154.00 105.00,156.10 102.99,156.86 101.60,158.55 98.00,159.87 87.82,163.61 71.01,168.61 62.01,173.53 54.46,177.66 53.72,185.86 40.00,184.82 32.67,184.26 20.62,179.58 14.00,176.24 9.26,173.84 5.39,171.44 3.82,166.00 1.79,159.00 7.99,146.02 13.18,141.39 13.18,141.39 22.90,135.37 22.90,135.37 27.02,132.11 27.34,128.56 33.00,125.75 40.82,121.72 48.37,125.87 53.00,125.75 57.47,125.75 67.37,121.56 72.00,120.09 72.00,120.09 80.96,118.41 80.96,118.41 80.96,118.41 97.00,107.20 97.00,107.20 97.00,107.20 118.00,96.87 118.00,96.87 118.00,96.87 124.00,95.32 124.00,95.32 124.00,95.32 130.00,92.69 130.00,92.69 130.00,92.69 136.00,91.45 136.00,91.45 140.08,90.35 142.47,87.98 147.00,88.15 151.08,88.30 153.78,90.50 156.57,90.95 160.90,91.65 167.02,88.05 171.00,86.45 171.00,86.45 186.00,82.45 186.00,82.45 188.19,81.69 195.12,78.61 196.79,77.30 201.93,73.27 200.32,69.44 211.00,66.53 Z");
}
.ERAship-FF9900 {
	background-position-x: -3750px;
}
.ERAextended .ERAship-FF9900 {
	background-position-x: -5250px;
	clip-path: path("M 127.00,63.33 C 129.15,63.17 130.79,62.91 133.00,63.33 149.71,65.31 131.17,84.00 147.00,90.36 148.22,90.85 149.69,91.34 151.00,91.44 158.29,91.99 161.88,84.79 173.00,79.86 187.80,73.30 209.91,66.22 226.00,70.13 236.57,72.70 245.11,77.45 246.87,89.00 247.41,92.57 248.11,96.40 247.91,100.00 247.64,104.73 246.54,113.04 243.35,116.61 240.53,119.78 232.14,122.83 228.00,124.31 228.00,124.31 201.00,132.35 201.00,132.35 201.00,132.35 189.00,134.52 189.00,134.52 189.00,134.52 175.00,140.22 175.00,140.22 168.78,142.06 159.58,143.11 154.06,146.84 148.38,150.68 151.43,154.56 143.00,158.48 138.28,160.68 129.19,162.92 124.00,162.75 118.64,162.92 114.78,160.80 109.00,162.75 109.00,162.75 98.00,167.23 98.00,167.23 98.00,167.23 75.00,174.46 75.00,174.46 75.00,174.46 63.00,180.54 63.00,180.54 55.62,183.45 34.79,187.35 27.00,186.91 20.74,186.55 11.57,184.73 7.28,179.89 -0.12,171.57 2.41,150.05 9.33,142.04 14.86,135.63 25.75,130.99 34.00,129.46 34.00,129.46 43.00,128.07 43.00,128.07 49.09,126.43 51.12,123.84 59.00,122.01 64.23,120.80 75.86,118.24 79.95,115.30 83.07,113.06 83.67,110.96 85.67,108.00 87.77,104.88 89.30,103.72 90.75,100.00 90.75,100.00 98.73,76.04 98.73,76.04 102.93,69.78 119.61,65.10 127.00,63.33 Z");
}
.ERAship-CD1FCD {
	background-position-x: -4000px;
}
.ERAextended .ERAship-CD1FCD {
	background-position-x: -5500px;
	clip-path: path("M 71.00,143.00 C 82.88,142.96 82.88,140.30 93.00,139.17 93.00,139.17 112.00,137.34 112.00,137.34 112.00,137.34 120.00,137.90 120.00,137.90 120.00,137.90 138.00,135.72 138.00,135.72 138.00,135.72 200.00,128.00 200.00,128.00 211.86,127.87 221.09,131.98 232.00,136.05 235.06,137.19 242.47,139.63 244.57,141.65 249.12,146.01 245.72,152.61 245.57,156.00 245.48,158.17 246.61,160.36 244.58,161.99 241.72,164.29 230.83,163.96 227.00,164.00 227.00,164.00 214.00,165.00 214.00,165.00 214.00,165.00 184.00,166.00 184.00,166.00 184.00,166.00 169.00,167.00 169.00,167.00 169.00,167.00 118.00,169.00 118.00,169.00 118.00,169.00 82.00,171.04 82.00,171.04 82.00,171.04 70.00,171.04 70.00,171.04 70.00,171.04 60.00,172.00 60.00,172.00 60.00,172.00 32.00,173.00 32.00,173.00 23.04,173.01 20.61,175.76 12.58,171.29 8.91,169.25 6.48,170.07 4.99,168.25 1.68,164.18 9.27,151.20 11.14,147.00 11.14,147.00 33.58,98.00 33.58,98.00 35.32,93.99 40.98,80.00 44.21,78.19 48.40,75.84 53.03,79.34 57.00,80.53 63.02,82.32 79.61,84.78 83.15,89.39 84.98,91.78 84.96,95.13 85.00,98.00 85.04,101.21 85.23,107.10 84.35,110.00 84.35,110.00 78.07,122.00 78.07,122.00 78.07,122.00 76.21,131.00 76.21,131.00 76.21,131.00 71.00,143.00 71.00,143.00 Z");
}
.ERAship-FFFF00 {
	background-position-x: -4250px;
}
.ERAextended .ERAship-FFFF00 {
	background-position-x: -5750px;
	clip-path: path("M 95.00,74.52 C 104.60,73.00 110.79,74.58 120.00,75.87 120.00,75.87 162.00,82.87 162.00,82.87 175.43,84.78 175.10,80.52 185.00,81.09 192.23,81.51 199.63,84.10 204.90,89.18 208.19,92.36 209.68,96.20 213.04,97.98 216.22,99.66 219.29,98.32 223.00,100.17 225.90,101.62 229.64,105.64 232.00,108.00 238.59,114.59 246.52,122.08 246.96,132.00 247.30,139.85 243.63,148.70 236.96,153.18 230.55,157.50 206.60,161.57 198.00,163.20 167.11,169.02 135.27,170.95 104.00,173.09 104.00,173.09 59.00,176.04 59.00,176.04 59.00,176.04 47.00,177.00 47.00,177.00 47.00,177.00 29.00,177.85 29.00,177.85 29.00,177.85 14.00,177.85 14.00,177.85 12.50,177.98 10.45,177.98 9.02,177.85 -0.47,174.86 5.97,163.20 9.02,158.00 19.11,140.75 32.89,122.10 47.00,108.00 57.71,97.30 80.46,78.43 95.00,74.52 Z");
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="homeStar"> */
.ERAhomeStar {
	background: url('img/3D.png');
	clip-path: circle(60%);
	width: 250px;
	height: 250px;
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAhomeStar.ERAselected {
	/*	box-shadow: 0px 0px 10px 5px white;*/
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAhomeStar-FF3333 {
	background-position-x: -0px;
}
.ERAhomeStar-00CC00 {
	background-position-x: -250px;
}
.ERAhomeStar-6666FF {
	background-position-x: -500px;
}
.ERAhomeStar-FF9900 {
	background-position-x: -750px;
}
.ERAhomeStar-CD1FCD {
	background-position-x: -1000px;
}
.ERAhomeStar-FFFF00 {
	background-position-x: -1250px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Fleets"> */
.ERAship[fleet] {
	background: url('img/counters.png');
	width: 65px;
	height: 45px;
	border-radius: 5px;
	clip-path: none;
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAship[fleet]:after {
	content: attr(ships);
	position: absolute;
	font-size: medium;
	bottom: 0px;
	background-color: #00000080;
	border-radius:50%;
}

.ERAship[fleet]:hover:not(.ERAselected) {
	box-shadow: 0px 0px 10px 5px grey;
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
	z-index: 500 !important;
}
.ERAship[fleet].ERAship-FF3333[fleet='A'] {
	background-position-x: -3617px;
}
.ERAship[fleet].ERAship-FF3333[fleet='B'] {
	background-position-x: -3682px;
}
.ERAship[fleet].ERAship-FF3333[fleet='C'] {
	background-position-x: -3747px;
}
.ERAship[fleet].ERAship-FF3333[fleet='D'] {
	background-position-x: -3812px;
}
.ERAship[fleet].ERAship-FF3333[fleet='E'] {
	background-position-x: -3877px;
}
.ERAship[fleet].ERAship-FF3333 {
	background-position-x: -3941px;
}
.ERAship[fleet].ERAship-00CC00[fleet='A'] {
	background-position-x: -2447px;
}
.ERAship[fleet].ERAship-00CC00[fleet='B'] {
	background-position-x: -2512px;
}
.ERAship[fleet].ERAship-00CC00[fleet='C'] {
	background-position-x: -2577px;
}
.ERAship[fleet].ERAship-00CC00[fleet='D'] {
	background-position-x: -2642px;
}
.ERAship[fleet].ERAship-00CC00[fleet='E'] {
	background-position-x: -2707px;
}
.ERAship[fleet].ERAship-00CC00 {
	background-position-x: -2772px;
}
.ERAship[fleet].ERAship-6666FF[fleet='A'] {
	background-position-x: -2057px;
}
.ERAship[fleet].ERAship-6666FF[fleet='B'] {
	background-position-x: -2122px;
}
.ERAship[fleet].ERAship-6666FF[fleet='C'] {
	background-position-x: -2187px;
}
.ERAship[fleet].ERAship-6666FF[fleet='D'] {
	background-position-x: -2252px;
}
.ERAship[fleet].ERAship-6666FF[fleet='E'] {
	background-position-x: -2317px;
}
.ERAship[fleet].ERAship-6666FF {
	background-position-x: -2382px;
}
.ERAship[fleet].ERAship-FFFF00[fleet='A'] {
	background-position-x: -4007px;
}
.ERAship[fleet].ERAship-FFFF00[fleet='B'] {
	background-position-x: -4072px;
}
.ERAship[fleet].ERAship-FFFF00[fleet='C'] {
	background-position-x: -4137px;
}
.ERAship[fleet].ERAship-FFFF00[fleet='D'] {
	background-position-x: -4202px;
}
.ERAship[fleet].ERAship-FFFF00[fleet='E'] {
	background-position-x: -4267px;
}
.ERAship[fleet].ERAship-FFFF00 {
	background-position-x: -4332px;
}
.ERAship[fleet].ERAship-CD1FCD[fleet='A'] {
	background-position-x: -2837px;
}
.ERAship[fleet].ERAship-CD1FCD[fleet='B'] {
	background-position-x: -2902px;
}
.ERAship[fleet].ERAship-CD1FCD[fleet='C'] {
	background-position-x: -2967px;
}
.ERAship[fleet].ERAship-CD1FCD[fleet='D'] {
	background-position-x: -3032px;
}
.ERAship[fleet].ERAship-CD1FCD[fleet='E'] {
	background-position-x: -3097px;
}
.ERAship[fleet].ERAship-CD1FCD {
	background-position-x: -3163px;
}
.ERAship[fleet].ERAship-FF9900[fleet='A'] {
	background-position-x: -3227px;
}
.ERAship[fleet].ERAship-FF9900[fleet='B'] {
	background-position-x: -3292px;
}
.ERAship[fleet].ERAship-FF9900[fleet='C'] {
	background-position-x: -3357px;
}
.ERAship[fleet].ERAship-FF9900[fleet='D'] {
	background-position-x: -3422px;
}
.ERAship[fleet].ERAship-FF9900[fleet='E'] {
	background-position-x: -3487px;
}
.ERAship[fleet].ERAship-FF9900 {
	background-position-x: -3552px;
}
.ERAship[fleet].ue[fleet='A'] {
	background-position-x: -4115px;
}
.ERAship[fleet].ue[fleet='B'] {
	background-position-x: -4245px;
}
.ERAship[fleet].ue[fleet='C'] {
	background-position-x: -4505px;
}
.ERAship[fleet].ue[fleet='D'] {
	background-position-x: -4635px;
}
.ERAship[fleet].ue[fleet='E'] {
	background-position-x: -4765px;
}
.ERAship[fleet].ue {
	background-position-x: -4375px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Growth Actions"> */
.ERAcounter-growth
{
	border-radius: 50%;
	width: 89px;
	height: 118px;
}
.ERAcounter-growth.ERAselected {
	box-shadow: 0px 0px 10px 5px white;
	transform: scale(125%);
	transition: filter .25s, transform .25s;
}
.ERAsmallGrowth{
	position: relative;
	display: inline-block;
	width: calc(89px / 2);
	height: calc(118px / 2);
	transform: scale(50%);
	transform-origin: left top;
	vertical-align: middle;
}
.ERAsmallGrowth:hover {
	z-index:500;
}
.ERAcounter-growth[counter='growPopulation+']:after
{
	position:absolute;
	content: '+2';
	color: black;
	bottom: 0px;
	padding: 5px;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
.ERAcounter-growth[counter='gainStar+']:after
{
	position:absolute;
	content: 'CENTER';
	color: black;
	bottom: 0px;
	padding: 5px;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
.ERAcounter-growth[counter='switchAlignment'].ERAcounter-FF3333 {
	background-position-x: -4753px;
}
.ERAcounter-growth[counter='switchAlignment'].ERAcounter-00CC00 {
	background-position-x: -4486px;
}
.ERAcounter-growth[counter='switchAlignment'].ERAcounter-6666FF {
	background-position-x: -4397px;
}
.ERAcounter-growth[counter='switchAlignment'].ERAcounter-FF9900 {
	background-position-x: -4664px;
}
.ERAcounter-growth[counter='switchAlignment'].ERAcounter-CD1FCD {
	background-position-x: -4575px;
}
.ERAcounter-growth[counter='switchAlignment'].ERAcounter-FFFF00 {
	background-position-x: -4842px;
}
.ERAcounter-growth[counter='buildShips'].ERAcounter-FF3333 {
	background-position-x: -5287px;
}
.ERAcounter-growth[counter='buildShips'].ERAcounter-00CC00 {
	background-position-x: -5020px;
}
.ERAcounter-growth[counter='buildShips'].ERAcounter-6666FF {
	background-position-x: -4931px;
}
.ERAcounter-growth[counter='buildShips'].ERAcounter-FF9900 {
	background-position-x: -5198px;
}
.ERAcounter-growth[counter='buildShips'].ERAcounter-CD1FCD {
	background-position-x: -5109px;
}
.ERAcounter-growth[counter='buildShips'].ERAcounter-FFFF00 {
	background-position-x: -5376px;
}
.ERAcounter-growth[counter='gainStar'].ERAcounter-FF3333,.ERAcounter-growth[counter='gainStar+'].ERAcounter-FF3333 {
	background-position-x: -5821px;
}
.ERAcounter-growth[counter='gainStar'].ERAcounter-00CC00,.ERAcounter-growth[counter='gainStar+'].ERAcounter-00CC00 {
	background-position-x: -5554px;
}
.ERAcounter-growth[counter='gainStar'].ERAcounter-6666FF,.ERAcounter-growth[counter='gainStar+'].ERAcounter-6666FF {
	background-position-x: -5465px;
}
.ERAcounter-growth[counter='gainStar'].ERAcounter-FF9900,.ERAcounter-growth[counter='gainStar+'].ERAcounter-FF9900 {
	background-position-x: -5732px;
}
.ERAcounter-growth[counter='gainStar'].ERAcounter-CD1FCD,.ERAcounter-growth[counter='gainStar+'].ERAcounter-CD1FCD {
	background-position-x: -5643px;
}
.ERAcounter-growth[counter='gainStar'].ERAcounter-FFFF00,.ERAcounter-growth[counter='gainStar+'].ERAcounter-FFFF00 {
	background-position-x: -5910px;
}
.ERAcounter-growth[counter='growPopulation'].ERAcounter-FF3333,.ERAcounter-growth[counter='growPopulation+'].ERAcounter-FF3333 {
	background-position-x: -6355px;
}
.ERAcounter-growth[counter='growPopulation'].ERAcounter-00CC00,.ERAcounter-growth[counter='growPopulation+'].ERAcounter-00CC00 {
	background-position-x: -6088px;
}
.ERAcounter-growth[counter='growPopulation'].ERAcounter-6666FF,.ERAcounter-growth[counter='growPopulation+'].ERAcounter-6666FF {
	background-position-x: -5999px;
}
.ERAcounter-growth[counter='growPopulation'].ERAcounter-FF9900,.ERAcounter-growth[counter='growPopulation+'].ERAcounter-FF9900 {
	background-position-x: -6266px;
}
.ERAcounter-growth[counter='growPopulation'].ERAcounter-CD1FCD,.ERAcounter-growth[counter='growPopulation+'].ERAcounter-CD1FCD {
	background-position-x: -6177px;
}
.ERAcounter-growth[counter='growPopulation'].ERAcounter-FFFF00,.ERAcounter-growth[counter='growPopulation+'].ERAcounter-FFFF00 {
	background-position-x: -6444px;
}
.ERAcounter-growth[counter='research'].ERAcounter-FF3333 {
	background-position-x: -6889px;
}
.ERAcounter-growth[counter='research'].ERAcounter-00CC00 {
	background-position-x: -6622px;
}
.ERAcounter-growth[counter='research'].ERAcounter-6666FF {
	background-position-x: -6533px;
}
.ERAcounter-growth[counter='research'].ERAcounter-FF9900 {
	background-position-x: -6800px;
}
.ERAcounter-growth[counter='research'].ERAcounter-CD1FCD {
	background-position-x: -6711px;
}
.ERAcounter-growth[counter='research'].ERAcounter-FFFF00 {
	background-position-x: -6978px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Change Turn Order (2)"> */
.ERAcounter-turnOrder
{
	border-radius: 10px;
	width: 74px;
	height: 74px;
}
.ERAcounter-turnOrder.ERAselected {
	transform: scale(125%);
	transition: filter .25s, transform .25s;
}
.ERAcounter-turnOrder[counter='changeTurnOrderUp'] {
	background-position-x: -8207px;
}
.ERAcounter-turnOrder[counter='changeTurnOrderDown'] {
	background-position-x: -8281px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Technologies (5)"> */
.ERAcounter-technology
{
	border-radius: 10px;
	width: 74px;
	height: 74px;
}
.ERAcounter-technology.ERAselected {
	transform: scale(125%);
	transition: filter .25s, transform .25s;
	z-index: 500;
}
.ERAcounter-technology[counter='Genetics'] {
	background-position-x: -7837px;
}
.ERAcounter-technology[counter='Military'] {
	background-position-x: -7911px;
}
.ERAcounter-technology[counter='Propulsion'] {
	background-position-x: -7985px;
}
.ERAcounter-technology[counter='Robotics'] {
	background-position-x: -8059px;
}
.ERAcounter-technology[counter='Spirituality'] {
	background-position-x: -8133px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Population discs (6)"> */
.ERAcounter-populationDisc {
	background: url('img/3D.png');
	clip-path: circle(50%);
	width: 250px;
	height: 250px;
}
.ERAcounter-populationDisc.ERAsmall {
	margin: 0px -200px -200px 0px;
	transform: scale(20%);
	transform-origin: left top;
}
.ERAcounter-populationDisc.ERAcounter-FF3333 {
	background-position-x: -1500px;
}
.ERAcounter-populationDisc.ERAcounter-00CC00 {
	background-position-x: -1750px;
}
.ERAcounter-populationDisc.ERAcounter-6666FF {
	background-position-x: -2000px;
}
.ERAcounter-populationDisc.ERAcounter-FF9900 {
	background-position-x: -2250px;
}
.ERAcounter-populationDisc.ERAcounter-CD1FCD {
	background-position-x: -2500px;
}
.ERAcounter-populationDisc.ERAcounter-FFFF00 {
	background-position-x: -2750px;
}
/* </editor-fold> */

.ERAcounter-tactics {
	width: 59px;
	height: 59px;
}
.ERAcounter-tactics[tactics='DP'] {
	background-position-x: -222px;
}
.ERAcounter-tactics[tactics='2x'] {
	background-position-x: -281px;
}

#generalactions .ERAcounter-tactics {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 10px;
}

path.ERAselected
{
	stroke: white;
	stroke-width: 20;
}

.ERAnoPath .ERApath {
	display: none;
}

/* <editor-fold defaultstate="collapsed" desc="GODMODE"> */
.godMode {
	display:flex;
	flex-direction:column;
	position:fixed;
	background-color:black;
	color:white;
	border-radius:10px;
	border:1px solid grey;
	padding:10px;
	z-index:1001;
}
.godMode-options {
	list-style:none;
	padding:5px;
}
.godMode-option {
	font-weight:500;
	font-size:14px;
	padding:5px;
	cursor:pointer;
}
.godMode-option:hover {
	background:rgba(128, 128, 128, 0.2);
}
/* </editor-fold> */
