@font-face {
    font-family: 'ERA';
    src: url('img/fonts/Xolonium-Regular.otf') format('opentype');
	size-adjust: 100%;
    ascent-override: 100%;
}

html,body {
    background-image: url("img/orion.jpg") !important;
}

div,img {
	user-select: none;
}
#topbar, #page-title, .whiteblock, .roundedbox, .pageheader, .pagesection, .pagesection h2 {
    background-image:none;
    background-color:rgba(255, 255, 255, 75%);
}
#maintitlebar_content {
	font-family: 'ERA';
}
.player-board {
    background-color:rgba(0, 0, 0, 50%);
    color:white !important;
}
.dijitTooltipContainer,.standard_popin {
    background:rgba(50, 50, 50, 90%) !important;
    color:white !important;
}

.log_replayable .roundedbox {
    background-color:rgba(0, 0, 0, 50%);
    color:white;
}
#page-content {
	/*	zoom: 1 !important;*/
}

.midSizeDialog {
	max-width: fit-content;
}

#game_play_area {
	will-change: transform;
}
/* Simulate title property on mobile */
@media (pointer: coarse), (hover: none) {
	[title] {
        position: relative;
        display: inline-flex;
        justify-content: center;
	}
	[title]:focus::after {
        content: attr(title);
        position: absolute;
        top: 90%;
        color: #000;
        background-color: #fff;
        border: 1px solid;
        width: fit-content;
        padding: 3px;
	}
}

.ERAbutton {
	opacity: 50%;
}
.ERAbutton.ERAselected {
	opacity: 100%;
}

.ERAdice {
    display:inline-block;
    vertical-align:middle;
    width:30px;
    height:30px;
    background-image:url('img/dices.png');
}

.ERAhide {
	visibility: hidden;
}

.ERAdisabled {
	pointer-events: none !important;
	filter: grayscale(1) !important;
}

#ERAoffboard {
	position: relative;
	padding: 10px;
	box-sizing: border-box;
	transition: transform CALC(var(--DELAY) * 0.5ms);
}
#ERAoffboard.ERAfocus {
	z-index: 1000;
}

#ERAfleets {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 2%;
	background-color: #000000A0;
	display: flex;
	justify-content: space-evenly;
	z-index: 500;
	pointer-events: none;
}
.ERAfleetAction {
	color: white;
}

/* <editor-fold defaultstate="collapsed" desc="Logs"> */
.ERA-phase {
	font-family: 'ERA';
	display: block;
	padding: 5px;
	border-radius: 5px;
    background-color: #fcb062;
	color: black;
    font-size: 12pt;
    font-weight: bold;
}
.ERA-subphase {
	font-family: 'ERA';
    display: block;
    padding: 5px;
    border-radius: 5px;
    background-color: #8E6031;
	color: black;
    font-size: 10pt;
    font-weight: bold;
}
.ERA-info {
	font-family: 'ERA';
    display: block;
    padding: 5px;
    border-radius: 5px;
    background-color: #8E6031;
	color: white;
    font-size: 10pt;
    font-weight: bold;
}
.ERA-removeViewing {
    display: block;
    padding: 5px;
    border-radius: 5px;
	color: white;
    font-size: 10pt;
    font-weight: bold;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Gray Pawn"> */
.ERApawn {
	position: absolute;
	left: 40px;
	top: 128px;
	background: url('img/pawn.png');
	width: 45px;
	height: 89px;
	transition: left CALC(var(--DELAY) * 1ms);
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Domination cards"> */
.ERAdominationCards {
	flex: 1 1 25%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.ERAdominationCard {
	max-width: 186px;
	transition: transform CALC(var(--DELAY) * 0.5ms);
}
.ERAdominationCard.ERAselected {
    border-radius: 6%;
    box-shadow: 0px 0px 10px 10px red;
}
.ERAdominationCard.ERAfocus {
	z-index: 1000;
}
.ERAdominationCard img{
	width: 100%;
	border-radius: 15px;
	border: 5px solid transparent;
	box-sizing: border-box;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Emergency Reserve Tiles"> */
.ERAemergencyReserve {
	flex: 1 1 20%;
	background-size: contain;
	background-repeat: no-repeat;
	transition: transform CALC(var(--DELAY) * 0.5ms);
}
.ERAemergencyReserve.ERAfocus {
	z-index: 1000;
}
.ERAemergencyReserve-FF3333 {
	background-image: url('img/emergencyReserve/FF3333.jpg');
}
.ERAemergencyReserve-00CC00 {
	background-image: url('img/emergencyReserve/00CC00.jpg');
}
.ERAemergencyReserve-6666FF {
	background-image: url('img/emergencyReserve/6666FF.jpg');
}
.ERAemergencyReserve-FF9900 {
	background-image: url('img/emergencyReserve/FF9900.jpg');
}
.ERAemergencyReserve-CD1FCD {
	background-image: url('img/emergencyReserve/CD1FCD.jpg');
}
.ERAemergencyReserve-FFFF00 {
	background-image: url('img/emergencyReserve/FFFF00.jpg');
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Play Area"> */
#ERAplayArea {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background-image:url('img/background.jpg');
	border-radius: 15px;
}
#ERAboard {
    transform-origin: top left;
}
.ERApanel {
	z-index: 500;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="DP Track"> */
#ERApanels
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#ERA-DP {
	position: relative;
	width: 804px;
	height: 561px;
	background-image: url('img/DP.jpg');
}
#ERAgalacticStory {
	position:absolute;
	left:62px;
	top:240px;
	transition: filter 0.25s;
}
#ERAgalacticStory:hover {
	/*    filter:brightness(2.0);*/
    box-shadow: 0px 0px 10px 5px white;
	transition: filter 0.25s;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Population Track"> */
.ERApopulationTrack {
	flex: 0 0 auto;
	position:relative;
	width: 714px;
	height: 314px;
	background-size: 100%;
}
.ERApopulationTrack .ERAcounter-populationDisc {
	opacity: 100%;
}
.ERApopulationTrack:hover .ERAcounter-populationDisc {
	opacity: 50%;
}
.ERApanel-FF3333 .ERApopulationTrack {
	background-image: url('img/populationTracks/FF3333.jpg');
}
.ERApanel-00CC00 .ERApopulationTrack {
	background-image: url('img/populationTracks/00CC00.jpg');
}
.ERApanel-6666FF .ERApopulationTrack {
	background-image: url('img/populationTracks/6666FF.jpg');
}
.ERApanel-FF9900 .ERApopulationTrack {
	background-image: url('img/populationTracks/FF9900.jpg');
}
.ERApanel-CD1FCD .ERApopulationTrack {
	background-image: url('img/populationTracks/CD1FCD.jpg');
}
.ERApanel-FFFF00 .ERApopulationTrack {
	background-image: url('img/populationTracks/FFFF00.jpg');
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Technology Track"> */
.ERAtechTrack {
	flex: 0 0 auto;
	position:relative;
	width: 877px;
	height: 532px;
	background-size: 100%;
}
.ERAtechTrack .ERAcounter-cube {
	opacity: 100%;
}
.ERAtechTrack:hover .ERAcounter-cube {
	opacity: 50%;
}
.ERApanel-FF3333 .ERAtechTrack {
	background-image: url('img/techTracks/FF3333.jpg');
}
.ERApanel-00CC00 .ERAtechTrack {
	background-image: url('img/techTracks/00CC00.jpg');
}
.ERApanel-6666FF .ERAtechTrack {
	background-image: url('img/techTracks/6666FF.jpg');
}
.ERApanel-FF9900 .ERAtechTrack {
	background-image: url('img/techTracks/FF9900.jpg');
}
.ERApanel-CD1FCD .ERAtechTrack {
	background-image: url('img/techTracks/CD1FCD.jpg');
}
.ERApanel-FFFF00 .ERAtechTrack {
	background-image: url('img/techTracks/FFFF00.jpg');
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Player aids"> */
.ERAplayerAid
{
	flex: 0 0 auto;
	align-self: flex-end;
	margin: 20px;
	background: url('img/playerAids/0.jpg');
	background-size: contain;
	width: 400px;
	height: 400px;
	border-radius: 10px;
	transition: transform CALC(var(--DELAY) * 0.5ms);
}
.ERAplayerAid.ERAfocus {
	z-index: 1000;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Sectors"> */
.ERAsector {
	position: absolute;
	width: 741px;
	height: 824px;
}
.ERAsector[sector='0'] {
	background-image: url('img/sectors/00.png');
}
.ERAsector[sector='1'] {
	background-image: url('img/sectors/01.png');
}
.ERAsector[sector='2'] {
	background-image: url('img/sectors/02.png');
}
.ERAsector[sector='3'] {
	background-image: url('img/sectors/03.png');
}
.ERAsector[sector='4'] {
	background-image: url('img/sectors/04.png');
}
.ERAsector[sector='5'] {
	background-image: url('img/sectors/05.png');
}
.ERAsector[sector='6'] {
	background-image: url('img/sectors/06.png');
}
.ERAsector[sector='7'] {
	background-image: url('img/sectors/07.png');
}
.ERAsector[sector='8'] {
	background-image: url('img/sectors/08.png');
}
.ERAsector[sector='9'] {
	background-image: url('img/sectors/09.png');
}
.ERAsector[sector='10'] {
	background-image: url('img/sectors/10.png');
}
.ERAsector[sector='11'] {
	background-image: url('img/sectors/11.png');
}
.ERAsector[sector='12'] {
	background-image: url('img/sectors/12.png');
}
.ERAsector[sector='13'] {
	background-image: url('img/sectors/13.png');
}
.ERAsector[sector='14'] {
	background-image: url('img/sectors/14.png');
}
.ERAsector[sector='15'] {
	background-image: url('img/sectors/15.png');
}
.ERAsector[sector='16'] {
	background-image: url('img/sectors/16.png');
}
.ERAsector[sector='17'] {
	background-image: url('img/sectors/17.png');
}
/* </editor-fold> */

.ERAchoice {
	position: absolute;
	top: 0px;
	height: fit-content;
	width: 100%;
	box-sizing: border-box;
	padding: 1%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	pointer-events: none;
	z-index: 500;
}

.ERAfaction {
	display: flex;
	justify-content: space-evenly;
}

.ERAstatus {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.ERAtechnologies {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	font-size: xx-small;
}
.ERAsmallTechnology{
	display: inline-block;
	width: calc(74px / 2);
	height: calc(74px / 2);
	transform: scale(50%);
	transform-origin: left top;
	vertical-align: middle;
}
.ERAsmallerTechnology{
	display: inline-block;
	width: calc(74px / 4);
	height: calc(74px / 4);
	transform: scale(25%);
	transform-origin: left top;
	vertical-align: middle;
}
.ERAtechnology {
	vertical-align: middle;
}
.ERApopulation {
	vertical-align: middle;
}

.circleBlack {
	border:white solid 1px;
	border-radius:50%;
	background:white;
	display: inline-block;
	width:14px;
	height:14px;
	text-align:center;
	box-sizing:border-box;
	vertical-align:middle;
	margin:1px;
}
.circleWhite {
	border:white solid 1px;
	display: inline-block;
	border-radius:50%;
	background:black;
	width:14px;
	height:14px;
	text-align:center;
	box-sizing:border-box;
	vertical-align:middle;
	margin:1px;
}

.ERAstarPeople {
	pointer-events: all;
	transition: transform CALC(var(--DELAY) * 0.5ms);
}
.ERAstarPeople.ERAfocus {
	z-index: 1000;
}
.ERAstarPeople img{
	width: 100%;
	border-radius: 10px;
	border: 5px solid transparent;
	box-sizing: border-box;
}

@keyframes flip {
	from {
		transform: rotate3d(1,2,0,0deg) rotate(calc(-1 * var(--ROTATE))) ;
	}
	to {
		transform: rotate3d(1,2,0,90deg) rotate(calc(-1 * var(--ROTATE))) ;
	}
}
@keyframes unflip {
	from {
		transform: rotate3d(1,2,0,90deg) rotate(calc(-1 * var(--ROTATE))) ;
	}
	to {
		transform: rotate3d(1,2,0,0deg) rotate(calc(-1 * var(--ROTATE))) ;
	}
}

.ERAcounter {
	background: url('img/counters.png');
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
	z-index: 100;
	/*	pointer-events: none;*/
}
.ERAhideCounters .ERAcounter {
	visibility: hidden;
}
.ERAcounter.ERAselectable {
	pointer-events: all;
    box-shadow: 0px 0px 10px 5px slategrey;
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAcounter.ERAselected {
    box-shadow: 0px 0px 10px 5px white;
	filter: brightness(150%);
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAcounter:hover {
	filter: brightness(200%);
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}

/* <editor-fold defaultstate="collapsed" desc="Cylinders (6)"> */
.ERAcounter-cylinder {
	width: 72px;
	height: 72px;
}
.ERAcounter-cylinder.ERAcounter-FF3333 {
	background-position-x: -8916px;
}
.ERAcounter-cylinder.ERAcounter-00CC00 {
	background-position-x: -8988px;
}
.ERAcounter-cylinder.ERAcounter-6666FF {
	background-position-x: -9060px;
}
.ERAcounter-cylinder.ERAcounter-FF9900 {
	background-position-x: -9132px;
}
.ERAcounter-cylinder.ERAcounter-CD1FCD {
	background-position-x: -9204px;
}
.ERAcounter-cylinder.ERAcounter-FFFF00 {
	background-position-x: -9276px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Cubes (6)"> */
.ERAcounter-cube {
	width: 64px;
	height: 64px;
}
.ERAcounter-cube.ERAcounter-FF3333 {
	background-position-x: -8532px;
}
.ERAcounter-cube.ERAcounter-00CC00 {
	background-position-x: -8596px;
}
.ERAcounter-cube.ERAcounter-6666FF {
	background-position-x: -8660px;
}
.ERAcounter-cube.ERAcounter-FF9900 {
	background-position-x: -8724px;
}
.ERAcounter-cube.ERAcounter-CD1FCD {
	background-position-x: -8788px;
}
.ERAcounter-cube.ERAcounter-FFFF00 {
	background-position-x: -8852px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Wormholes (3)"> */
.ERAcounter-wormhole
{
	width: 59px;
	height: 59px;
	border-radius: 50%;
	z-index: -1;
}
.ERAcounter-wormhole.ERAcounter-blue {
	background-position-x: -8355px;
}
.ERAcounter-wormhole.ERAcounter-gold {
	background-position-x: -8414px;
}
.ERAcounter-wormhole.ERAcounter-purple {
	background-position-x: -8473px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Stars (3)"> */
.ERAcounter-star
{
	width: 59px;
	height: 59px;
	border-radius: 50%;
	background-position-x: -7660px;
}
.ERAcounter-star.ERAcounter-UNINHABITED {
	background-position-x: -7778px;
}
.ERAcounter-star.ERAcounter-PRIMITIVE {
	background-position-x: -7719px;
}
.ERAcounter-star.ERAcounter-ADVANCED {
	background-position-x: -7601px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Relics"> */
.ERAcounter-relic
{
	width: 59px;
	height: 59px;
	border-radius: 50%;
	background-position-x: -399px;
}
.ERAcounter-0 {
	background-position-x: -340px;
}
.ERAcounter-6 {
	background-position-x: -458px;
}
.ERAcounter-8 {
	background-position-x: -517px;
}
.ERAcounter-1 {
	background-position-x: -576px;
}
.ERAcounter-2 {
	background-position-x: -635px;
}
.ERAcounter-7 {
	background-position-x: -694px;
}
.ERAcounter-3 {
	background-position-x: -753px;
}
.ERAcounter-4 {
	background-position-x: -812px;
}
.ERAcounter-5 {
	background-position-x: -871px;
}
.ERAcounter-9 {
	background-position-x: -930px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Turn order"> */
.ERAorder
{
	width: 89px;
	height: 89px;
}
.ERAorder[order='?'] {
	display: none;
}
.ERAorder[order='1'] {
	background-position-x: -7067px;
}
.ERAorder[order='2'] {
	background-position-x: -7156px;
}
.ERAorder[order='3'] {
	background-position-x: -7245px;
}
.ERAorder[order='4'] {
	background-position-x: -7334px;
}
.ERAorder[order='5'] {
	background-position-x: -7423px;
}
.ERAorder[order='6'] {
	background-position-x: -7512px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="War/Peace"> */
.ERAcounter-peace, .ERAcounter-war
{
	border-radius: 50%;
	width: 89px;
	height: 89px;
}
.ERAcounter-peace.ERAhide, .ERAcounter-war.ERAhide {
	display:none;
}
.ERAsmall {
	margin: 0px -44px -44px 0px;
	transform: scale(50%);
	transform-origin: left top;
}
.ERAcounter.ERAcounter-peace.ERAcounter-6666FF {
	background-position-x: -989px;
}
.ERAcounter.ERAcounter-peace.ERAcounter-00CC00 {
	background-position-x: -1078px;
}
.ERAcounter.ERAcounter-peace.ERAcounter-CD1FCD {
	background-position-x: -1167px;
}
.ERAcounter.ERAcounter-peace.ERAcounter-FF9900 {
	background-position-x: -1256px;
}
.ERAcounter.ERAcounter-peace.ERAcounter-FF3333 {
	background-position-x: -1345px;
}
.ERAcounter.ERAcounter-peace.ERAcounter-FFFF00 {
	background-position-x: -1434px;
}
.ERAcounter.ERAcounter-war.ERAcounter-6666FF {
	background-position-x: -1523px;
}
.ERAcounter.ERAcounter-war.ERAcounter-00CC00 {
	background-position-x: -1612px;
}
.ERAcounter.ERAcounter-war.ERAcounter-CD1FCD {
	background-position-x: -1701px;
}
.ERAcounter.ERAcounter-war.ERAcounter-FF9900 {
	background-position-x: -1790px;
}
.ERAcounter.ERAcounter-war.ERAcounter-FF3333 {
	background-position-x: -1879px;
}
.ERAcounter.ERAcounter-war.ERAcounter-FFFF00 {
	background-position-x: -1968px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Ships"> */
.ERAship {
	position: absolute;
	background: url('img/3D.png');
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
	width: 250px;
	height: 250px;
	z-index: 200;
	clip-path: path('M 85.00,130.00 C 85.90,121.57 90.92,119.10 97.00,113.87 97.00,113.87 129.00,87.20 129.00,87.20 136.09,81.48 144.56,77.52 150.86,70.83 155.60,65.80 153.48,61.46 160.04,56.65 164.42,53.44 168.94,53.82 171.63,52.02 174.85,49.86 176.64,43.83 185.00,42.33 190.56,41.33 205.17,45.03 209.96,47.93 212.34,49.38 215.12,52.58 216.49,55.00 218.98,59.41 217.17,61.63 218.92,66.00 220.46,69.85 222.45,70.85 222.89,76.00 224.20,91.18 208.40,91.59 206.10,92.58 202.81,94.01 202.06,96.97 198.90,99.30 196.40,101.14 193.74,101.40 191.63,103.51 184.99,110.15 190.89,115.67 187.40,120.91 187.40,120.91 178.00,130.00 178.00,130.00 178.00,130.00 151.00,154.99 151.00,154.99 148.24,157.68 138.07,167.38 135.00,168.11 132.27,168.76 120.06,166.01 117.00,165.00 116.59,167.62 116.04,171.41 114.16,173.42 112.26,175.45 105.48,176.38 100.48,184.00 97.18,189.03 101.54,197.53 91.96,204.03 86.90,207.47 81.64,207.42 79.18,208.56 75.99,210.04 75.23,212.93 70.96,215.47 68.72,216.80 57.41,220.42 55.00,220.27 55.00,220.27 45.00,217.51 45.00,217.51 45.00,217.51 38.00,217.51 38.00,217.51 27.95,215.83 23.12,209.95 23.06,200.00 23.06,200.00 23.06,187.00 23.06,187.00 22.46,182.15 18.77,177.35 23.70,170.00 29.32,161.62 35.85,162.93 39.82,160.69 43.25,158.75 43.88,155.52 49.01,152.53 53.86,149.71 56.66,150.58 60.00,149.02 62.73,147.74 72.65,139.28 74.86,136.91 79.51,131.90 77.48,129.25 85.00,130.00 Z');
	/*	pointer-events: none;*/
}
.ERAhideShips .ERAship {
	visibility: hidden;
}
.ERAstatus .ERAship, .ERAfleets .ERAship {
	position: relative;
}
.ERAfleets .ERAship:not([fleet]) {
	transform-origin: left top;
	transform: scale(20%);
	margin-bottom: -450%;
}
.ERAship.ERAselectable {
	pointer-events: all;
    box-shadow: 0px 0px 10px 5px slategrey;
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAship.ERAselected {
    box-shadow: 0px 0px 10px 5px white;
	filter: brightness(150%);
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAship:hover {
	filter: brightness(200%);
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}

.ERAship-FF3333 {
	background-position-x: -3000px;
}
.ERAship-00CC00 {
	background-position-x: -3250px;
}
.ERAship-6666FF {
	background-position-x: -3500px;
}
.ERAship-FF9900 {
	background-position-x: -3750px;
}
.ERAship-CD1FCD {
	background-position-x: -4000px;
}
.ERAship-FFFF00 {
	background-position-x: -4250px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="homeStar"> */
.ERAhomeStar {
	background: url('img/3D.png');
	clip-path: circle(50%);
	width: 250px;
	height: 250px;
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAhomeStar.ERAselected {
    box-shadow: 0px 0px 10px 5px white;
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAhomeStar-FF3333 {
	background-position-x: -0px;
}
.ERAhomeStar-00CC00 {
	background-position-x: -250px;
}
.ERAhomeStar-6666FF {
	background-position-x: -500px;
}
.ERAhomeStar-FF9900 {
	background-position-x: -750px;
}
.ERAhomeStar-CD1FCD {
	background-position-x: -1000px;
}
.ERAhomeStar-FFFF00 {
	background-position-x: -1250px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Fleets"> */
.ERAship[fleet] {
	background: url('img/counters.png');
	width: 65px;
	height: 45px;
	border-radius: 5px;
	clip-path: none;
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
}
.ERAship[fleet]:after {
	content: attr(ships);
	position: absolute;
	font-size: medium;
	bottom: 0px;
	background-color: #00000080;
	border-radius:50%;
}

.ERAship[fleet]:hover:not(.ERAselected) {
    box-shadow: 0px 0px 10px 5px grey;
	transition: filter .25s, left CALC(var(--DELAY) * 1ms), top CALC(var(--DELAY) * 1ms);
	z-index: 500 !important;
}
.ERAship[fleet].ERAship-FF3333[fleet='A'] {
	background-position-x: -3617px;
}
.ERAship[fleet].ERAship-FF3333[fleet='B'] {
	background-position-x: -3682px;
}
.ERAship[fleet].ERAship-FF3333[fleet='C'] {
	background-position-x: -3747px;
}
.ERAship[fleet].ERAship-FF3333[fleet='D'] {
	background-position-x: -3812px;
}
.ERAship[fleet].ERAship-FF3333[fleet='E'] {
	background-position-x: -3877px;
}
.ERAship[fleet].ERAship-FF3333 {
	background-position-x: -3941px;
}
.ERAship[fleet].ERAship-00CC00[fleet='A'] {
	background-position-x: -2447px;
}
.ERAship[fleet].ERAship-00CC00[fleet='B'] {
	background-position-x: -2512px;
}
.ERAship[fleet].ERAship-00CC00[fleet='C'] {
	background-position-x: -2577px;
}
.ERAship[fleet].ERAship-00CC00[fleet='D'] {
	background-position-x: -2642px;
}
.ERAship[fleet].ERAship-00CC00[fleet='E'] {
	background-position-x: -2707px;
}
.ERAship[fleet].ERAship-00CC00 {
	background-position-x: -2772px;
}
.ERAship[fleet].ERAship-6666FF[fleet='A'] {
	background-position-x: -2057px;
}
.ERAship[fleet].ERAship-6666FF[fleet='B'] {
	background-position-x: -2122px;
}
.ERAship[fleet].ERAship-6666FF[fleet='C'] {
	background-position-x: -2187px;
}
.ERAship[fleet].ERAship-6666FF[fleet='D'] {
	background-position-x: -2252px;
}
.ERAship[fleet].ERAship-6666FF[fleet='E'] {
	background-position-x: -2317px;
}
.ERAship[fleet].ERAship-6666FF {
	background-position-x: -2382px;
}
.ERAship[fleet].ERAship-FFFF00[fleet='A'] {
	background-position-x: -4007px;
}
.ERAship[fleet].ERAship-FFFF00[fleet='B'] {
	background-position-x: -4072px;
}
.ERAship[fleet].ERAship-FFFF00[fleet='C'] {
	background-position-x: -4137px;
}
.ERAship[fleet].ERAship-FFFF00[fleet='D'] {
	background-position-x: -4202px;
}
.ERAship[fleet].ERAship-FFFF00[fleet='E'] {
	background-position-x: -4267px;
}
.ERAship[fleet].ERAship-FFFF00 {
	background-position-x: -4332px;
}
.ERAship[fleet].ERAship-CD1FCD[fleet='A'] {
	background-position-x: -2837px;
}
.ERAship[fleet].ERAship-CD1FCD[fleet='B'] {
	background-position-x: -2902px;
}
.ERAship[fleet].ERAship-CD1FCD[fleet='C'] {
	background-position-x: -2967px;
}
.ERAship[fleet].ERAship-CD1FCD[fleet='D'] {
	background-position-x: -3032px;
}
.ERAship[fleet].ERAship-CD1FCD[fleet='E'] {
	background-position-x: -3097px;
}
.ERAship[fleet].ERAship-CD1FCD {
	background-position-x: -3163px;
}
.ERAship[fleet].ERAship-FF9900[fleet='A'] {
	background-position-x: -3227px;
}
.ERAship[fleet].ERAship-FF9900[fleet='B'] {
	background-position-x: -3292px;
}
.ERAship[fleet].ERAship-FF9900[fleet='C'] {
	background-position-x: -3357px;
}
.ERAship[fleet].ERAship-FF9900[fleet='D'] {
	background-position-x: -3422px;
}
.ERAship[fleet].ERAship-FF9900[fleet='E'] {
	background-position-x: -3487px;
}
.ERAship[fleet].ERAship-FF9900 {
	background-position-x: -3552px;
}
.ERAship[fleet].ue[fleet='A'] {
	background-position-x: -4115px;
}
.ERAship[fleet].ue[fleet='B'] {
	background-position-x: -4245px;
}
.ERAship[fleet].ue[fleet='C'] {
	background-position-x: -4505px;
}
.ERAship[fleet].ue[fleet='D'] {
	background-position-x: -4635px;
}
.ERAship[fleet].ue[fleet='E'] {
	background-position-x: -4765px;
}
.ERAship[fleet].ue {
	background-position-x: -4375px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Growth Actions"> */
.ERAcounter-growth
{
	border-radius: 50%;
	width: 89px;
	height: 118px;
}
.ERAcounter-growth.ERAselected {
    box-shadow: 0px 0px 10px 5px white;
	transform: scale(125%);
	transition: filter .25s, transform .25s;
}
.ERAsmallGrowth{
	display: inline-block;
	width: calc(89px / 2);
	height: calc(118px / 2);
	transform: scale(50%);
	transform-origin: left top;
	vertical-align: middle;
}
.ERAcounter-growth[counter='switchAlignment'].ERAcounter-FF3333 {
	background-position-x: -4753px;
}
.ERAcounter-growth[counter='switchAlignment'].ERAcounter-00CC00 {
	background-position-x: -4486px;
}
.ERAcounter-growth[counter='switchAlignment'].ERAcounter-6666FF {
	background-position-x: -4397px;
}
.ERAcounter-growth[counter='switchAlignment'].ERAcounter-FF9900 {
	background-position-x: -4664px;
}
.ERAcounter-growth[counter='switchAlignment'].ERAcounter-CD1FCD {
	background-position-x: -4575px;
}
.ERAcounter-growth[counter='switchAlignment'].ERAcounter-FFFF00 {
	background-position-x: -4842px;
}
.ERAcounter-growth[counter='buildShips'].ERAcounter-FF3333 {
	background-position-x: -5287px;
}
.ERAcounter-growth[counter='buildShips'].ERAcounter-00CC00 {
	background-position-x: -5020px;
}
.ERAcounter-growth[counter='buildShips'].ERAcounter-6666FF {
	background-position-x: -4931px;
}
.ERAcounter-growth[counter='buildShips'].ERAcounter-FF9900 {
	background-position-x: -5198px;
}
.ERAcounter-growth[counter='buildShips'].ERAcounter-CD1FCD {
	background-position-x: -5109px;
}
.ERAcounter-growth[counter='buildShips'].ERAcounter-FFFF00 {
	background-position-x: -5376px;
}
.ERAcounter-growth[counter='gainStar'].ERAcounter-FF3333 {
	background-position-x: -5821px;
}
.ERAcounter-growth[counter='gainStar'].ERAcounter-00CC00 {
	background-position-x: -5554px;
}
.ERAcounter-growth[counter='gainStar'].ERAcounter-6666FF {
	background-position-x: -5465px;
}
.ERAcounter-growth[counter='gainStar'].ERAcounter-FF9900 {
	background-position-x: -5732px;
}
.ERAcounter-growth[counter='gainStar'].ERAcounter-CD1FCD {
	background-position-x: -5643px;
}
.ERAcounter-growth[counter='gainStar'].ERAcounter-FFFF00 {
	background-position-x: -5910px;
}
.ERAcounter-growth[counter='growPopulation'].ERAcounter-FF3333 {
	background-position-x: -6355px;
}
.ERAcounter-growth[counter='growPopulation'].ERAcounter-00CC00 {
	background-position-x: -6088px;
}
.ERAcounter-growth[counter='growPopulation'].ERAcounter-6666FF {
	background-position-x: -5999px;
}
.ERAcounter-growth[counter='growPopulation'].ERAcounter-FF9900 {
	background-position-x: -6266px;
}
.ERAcounter-growth[counter='growPopulation'].ERAcounter-CD1FCD {
	background-position-x: -6177px;
}
.ERAcounter-growth[counter='growPopulation'].ERAcounter-FFFF00 {
	background-position-x: -6444px;
}
.ERAcounter-growth[counter='research'].ERAcounter-FF3333 {
	background-position-x: -6889px;
}
.ERAcounter-growth[counter='research'].ERAcounter-00CC00 {
	background-position-x: -6622px;
}
.ERAcounter-growth[counter='research'].ERAcounter-6666FF {
	background-position-x: -6533px;
}
.ERAcounter-growth[counter='research'].ERAcounter-FF9900 {
	background-position-x: -6800px;
}
.ERAcounter-growth[counter='research'].ERAcounter-CD1FCD {
	background-position-x: -6711px;
}
.ERAcounter-growth[counter='research'].ERAcounter-FFFF00 {
	background-position-x: -6978px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Change Turn Order (2)"> */
.ERAcounter-turnOrder
{
	border-radius: 10px;
	width: 74px;
	height: 74px;
}
.ERAcounter-turnOrder.ERAselected {
	transform: scale(125%);
	transition: filter .25s, transform .25s;
}
.ERAcounter-turnOrder[counter='changeTurnOrderUp'] {
	background-position-x: -8207px;
}
.ERAcounter-turnOrder[counter='changeTurnOrderDown'] {
	background-position-x: -8281px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Technologies (5)"> */
.ERAcounter-technology
{
	border-radius: 10px;
	width: 74px;
	height: 74px;
}
.ERAcounter-technology.ERAselected {
	transform: scale(125%);
	transition: filter .25s, transform .25s;
	z-index: 500;
}
.ERAcounter-technology[counter='Genetics'] {
	background-position-x: -7837px;
}
.ERAcounter-technology[counter='Military'] {
	background-position-x: -7911px;
}
.ERAcounter-technology[counter='Propulsion'] {
	background-position-x: -7985px;
}
.ERAcounter-technology[counter='Robotics'] {
	background-position-x: -8059px;
}
.ERAcounter-technology[counter='Spirituality'] {
	background-position-x: -8133px;
}
/* </editor-fold> */
/* <editor-fold defaultstate="collapsed" desc="Population discs (6)"> */
.ERAcounter-populationDisc {
	background: url('img/3D.png');
	clip-path: circle(50%);
	width: 250px;
	height: 250px;
}
.ERAcounter-populationDisc.ERAcounter-FF3333 {
	background-position-x: -1500px;
}
.ERAcounter-populationDisc.ERAcounter-00CC00 {
	background-position-x: -1750px;
}
.ERAcounter-populationDisc.ERAcounter-6666FF {
	background-position-x: -2000px;
}
.ERAcounter-populationDisc.ERAcounter-FF9900 {
	background-position-x: -2250px;
}
.ERAcounter-populationDisc.ERAcounter-CD1FCD {
	background-position-x: -2500px;
}
.ERAcounter-populationDisc.ERAcounter-FFFF00 {
	background-position-x: -2750px;
}
/* </editor-fold> */

.ERAcounter-tactics {
	width: 59px;
	height: 59px;
}
.ERAcounter-tactics[tactics='DP'] {
	background-position-x: -222px;
}
.ERAcounter-tactics[tactics='2x'] {
	background-position-x: -281px;
}

#generalactions .ERAcounter-tactics {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 10px;
}

path.ERAselected
{
	stroke: white;
	stroke-width: 20;
}
